<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/htmx.min.js"></script>
  </head>

  <body>
    <h1>{{.Title}}</h1>

    <div class="container">
      <div class="card">
        <h2>Payments</h2>
        <div
          id="payments"
          hx-get="/api/v1/payments"
          hx-trigger="load"
          hx-target="#payments"
        >
          <p>Loading payments...</p>
        </div>
      </div>
    </div>
  </body>
</html>
