{{ define "invoices" }}
<div id="invoices-fragment" class="bg-gray-800 p-6 rounded-lg" hx-get="/invoices/fragment" hx-trigger="invoicesUpdated from:body" hx-swap="outerHTML">
  <input type="hidden" name="status" value="{{ .Status }}">
  <div class="flex justify-between items-center">
    <h3 class="flex text-lg font-semibold">{{ .Title }}</h3>

    {{ template "pagination" . }}

  </div>
  <table class="w-full mt-4 text-sm">
    <thead class="border-b border-gray-700">
      <tr>
        <th class="text-left py-2">Num. Factura</th>
        <th class="text-left py-2">Cliente</th>
        <th class="text-left py-2">Fecha</th>
        <th class="text-left py-2">Vencimiento</th>
        <th class="text-left py-2">Medio</th>
        <th class="text-right py-2">Cantidad</th>
        <th class="text-right py-2">Pagado</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-700">
      {{ range .Invoices }}
      <tr class="hover:bg-gray-700 transition-colors" data-invoice-id="{{ .ID }}" data-customer-name="{{ .CustomerName }}" data-amount-due="{{ .AmountDueRaw }}" data-payment-mean="{{ .PaymentMean }}" data-invoice-date="{{ .InvoiceDate }}" data-due-date="{{ .DueDate }}">
        <td class="py-2">{{ .ID }}</td>
        <td class="py-2">{{ .CustomerName }}</td>
        <td>
          <span class="bg-gray-700 px-3 py-1 rounded-full text-xs">{{ .InvoiceDate }}</span>
        </td>
        <td>
          <span class="bg-gray-700 px-3 py-1 rounded-full text-xs">{{ .DueDate }}</span>
        </td>
        <td class="py-2">{{ .PaymentMean }}</td>
        <td class="text-right">{{ .AmountDue }}</td>
        <td class="text-right">{{ .TotalPaid }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
