{{ define "payments" }}
<div id="payments-fragment" class="bg-gray-800 p-6 rounded-lg" hx-get="/payments/fragment" hx-trigger="paymentsUpdated from:body" hx-swap="outerHTML">
  <div class="flex justify-between items-center">
    <h3 class="flex text-lg font-semibold">{{ .Title }}</h3>

    {{ template "pagination" . }}

  </div>
  <table class="w-full mt-4 text-sm">
    <thead class="border-b border-gray-700">
      <tr>
        <th class="text-left py-2">Num. Pago</th>
        <th class="text-left py-2">Num. Factura</th>
        <th class="text-left py-2">Cliente</th>
        <th class="text-left py-2">Fecha</th>
        <th class="text-right py-2">Cantidad</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-700">
      {{ range .Payments }}
      <tr class="hover:bg-gray-700 transition-colors" data-payment-id="{{ .ID }}" data-invoice-id="{{ .InvoiceID }}" data-amount="{{ .AmountRaw }}" data-date="{{ .Date }}">
        <td class="py-2">{{ .ID }}</td>
        <td class="py-2">{{ .InvoiceID }}</td>
        <td class="py-2">{{ .ClientName }}</td>
        <td class="py-2">
          <span class="bg-gray-700 px-3 py-1 rounded-full text-xs">{{ .Date }}</span>
        </td>
        <td class="text-right">{{ .Amount }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
