{{ define "payments" }}
<div id="payments-fragment" class="bg-gray-800 p-6 rounded-lg" hx-get="/payments/fragment" hx-trigger="paymentsUpdated from:body" hx-swap="outerHTML">
  <input type="hidden" name="sortBy" value="{{ .Pagination.SortBy }}">
  <input type="hidden" name="sortDir" value="{{ .Pagination.SorDir }}">
  <div class="flex justify-between items-center">
    <h3 class="flex text-lg font-semibold">{{ .Title }}</h3>

    {{ template "pagination" . }}

  </div>
  <table class="w-full mt-4 text-sm">
    <thead class="border-b border-gray-700">
      <tr>
        <th class="text-left py-2 cursor-pointer" hx-get="/payments/fragment" hx-trigger="dblclick" hx-target="#payments-fragment" hx-swap="outerHTML" hx-include="[name='pageSize'], [name='showSizeSelector'], [name='sortBy'], [name='sortDir']" hx-vals='{"sortBy":"id","sortDir":"{{ if and (eq .Pagination.SortBy "id") (eq .Pagination.SorDir "asc") }}desc{{ else }}asc{{ end }}"}'>
          Num. Pago
          {{ if eq .Pagination.SortBy "id" }}
            {{ if eq .Pagination.SorDir "asc" }}<i class="fa-solid fa-caret-up ml-1"></i>{{ else }}<i class="fa-solid fa-caret-down ml-1"></i>{{ end }}
          {{ end }}
        </th>
        <th class="text-left py-2 cursor-pointer" hx-get="/payments/fragment" hx-trigger="dblclick" hx-target="#payments-fragment" hx-swap="outerHTML" hx-include="[name='pageSize'], [name='showSizeSelector'], [name='sortBy'], [name='sortDir']" hx-vals='{"sortBy":"invoice_id","sortDir":"{{ if and (eq .Pagination.SortBy "invoice_id") (eq .Pagination.SorDir "asc") }}desc{{ else }}asc{{ end }}"}'>
          Num. Factura
          {{ if eq .Pagination.SortBy "invoice_id" }}
            {{ if eq .Pagination.SorDir "asc" }}<i class="fa-solid fa-caret-up ml-1"></i>{{ else }}<i class="fa-solid fa-caret-down ml-1"></i>{{ end }}
          {{ end }}
        </th>
        <th class="text-left py-2 cursor-pointer" hx-get="/payments/fragment" hx-trigger="dblclick" hx-target="#payments-fragment" hx-swap="outerHTML" hx-include="[name='pageSize'], [name='showSizeSelector'], [name='sortBy'], [name='sortDir']" hx-vals='{"sortBy":"customer_name","sortDir":"{{ if and (eq .Pagination.SortBy "customer_name") (eq .Pagination.SorDir "asc") }}desc{{ else }}asc{{ end }}"}'>
          Cliente
          {{ if eq .Pagination.SortBy "customer_name" }}
            {{ if eq .Pagination.SorDir "asc" }}<i class="fa-solid fa-caret-up ml-1"></i>{{ else }}<i class="fa-solid fa-caret-down ml-1"></i>{{ end }}
          {{ end }}
        </th>
        <th class="text-left py-2 cursor-pointer" hx-get="/payments/fragment" hx-trigger="dblclick" hx-target="#payments-fragment" hx-swap="outerHTML" hx-include="[name='pageSize'], [name='showSizeSelector'], [name='sortBy'], [name='sortDir']" hx-vals='{"sortBy":"date","sortDir":"{{ if and (eq .Pagination.SortBy "date") (eq .Pagination.SorDir "asc") }}desc{{ else }}asc{{ end }}"}'>
          Fecha
          {{ if eq .Pagination.SortBy "date" }}
            {{ if eq .Pagination.SorDir "asc" }}<i class="fa-solid fa-caret-up ml-1"></i>{{ else }}<i class="fa-solid fa-caret-down ml-1"></i>{{ end }}
          {{ end }}
        </th>
        <th class="text-right py-2 cursor-pointer" hx-get="/payments/fragment" hx-trigger="dblclick" hx-target="#payments-fragment" hx-swap="outerHTML" hx-include="[name='pageSize'], [name='showSizeSelector'], [name='sortBy'], [name='sortDir']" hx-vals='{"sortBy":"amount","sortDir":"{{ if and (eq .Pagination.SortBy "amount") (eq .Pagination.SorDir "asc") }}desc{{ else }}asc{{ end }}"}'>
          Cantidad
          {{ if eq .Pagination.SortBy "amount" }}
            {{ if eq .Pagination.SorDir "asc" }}<i class="fa-solid fa-caret-up ml-1"></i>{{ else }}<i class="fa-solid fa-caret-down ml-1"></i>{{ end }}
          {{ end }}
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-700">
      {{ range .Payments }}
      <tr class="hover:bg-gray-700 transition-colors" data-payment-id="{{ .ID }}" data-invoice-id="{{ .InvoiceID }}" data-amount="{{ .AmountRaw }}" data-date="{{ .Date }}">
        <td class="py-2">{{ .ID }}</td>
        <td class="py-2">{{ .InvoiceID }}</td>
        <td class="py-2">{{ .ClientName }}</td>
        <td class="py-2">
          <span class="bg-gray-700 px-3 py-1 rounded-full text-xs">{{ .Date }}</span>
        </td>
        <td class="text-right">{{ .Amount }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
