{{ define "payments" }}
<div id="payments-fragment" hx-trigger="load" hx-swap="outerHTML" class="bg-gray-800 p-6 rounded-lg">
  <div class="flex justify-between items-center">
    <h3 class="flex text-lg font-semibold">Pagos</h3>
    <div>


      {{ with .Pagination }}

      <input type="hidden" name="showPagination" value="{{ .ShowPagination }}">


      <!-- First Page Button -->
      <button hx-get="/payments/fragment" hx-target="#payments-fragment" hx-swap="outerHTML"
        hx-include="[name='showPagination'], [name='pageSize']" hx-vals='{"page": "{{ .FirstPage }}"}'
        class="rounded-lg bg-gray-700 px-2 hover:bg-gray-600 transition-colors">
        <i class="fa-solid fa-angles-left"></i>
      </button>

      <!-- Previous Page Button -->
      {{ if gt .Page .FirstPage }}
      <button hx-get="/payments/fragment" hx-target="#payments-fragment" hx-swap="outerHTML"
        hx-include="[name='showPagination'], [name='pageSize']" hx-vals='{"page": "{{ .PrevPage }}"}'
        class="rounded-lg bg-gray-700 px-2 hover:bg-gray-600 transition-colors">
        <i class="fa-solid fa-angle-left"></i>
      </button>
      {{ else }}
      <button disabled class="rounded-lg bg-gray-800 px-2 opacity-50 cursor-not-allowed">
        <i class="fa-solid fa-angle-left"></i>
      </button>
      {{ end }}

      <span class="px-2">Página {{ .Page }}</span>

      <!-- Next Page Button -->
      {{ if lt .Page .LastPage }}
      <button hx-get="/payments/fragment" hx-target="#payments-fragment" hx-swap="outerHTML"
        hx-include="[name='showPagination'], [name='pageSize']" hx-vals='{"page": "{{ .NextPage }}"}'
        class="rounded-lg bg-gray-700 px-2 hover:bg-gray-600 transition-colors">
        <i class="fa-solid fa-angle-right"></i>
      </button>
      {{ else }}
      <button disabled class="rounded-lg bg-gray-800 px-2 opacity-50 cursor-not-allowed">
        <i class="fa-solid fa-angle-right"></i>
      </button>
      {{ end }}

      <!-- Last Page Button -->
      <button hx-get="/payments/fragment" hx-target="#payments-fragment" hx-swap="outerHTML"
        hx-include="[name='showPagination'], [name='pageSize']" hx-vals='{"page": "{{ .LastPage }}"}'
        class="rounded-lg bg-gray-700 px-2 hover:bg-gray-600 transition-colors">
        <i class="fa-solid fa-angles-right"></i>
      </button>

      {{ if .ShowPagination}}

      <select name="pageSize" hx-get="/payments/fragment" hx-target="#payments-fragment" hx-swap="outerHTML"
        hx-include="[name='pageSize'], [name='showPagination']" class="bg-gray-700 text-gray-100 rounded-lg px-2 py-1">
        <option value="10" {{ if eq .Size 10 }}selected{{ end }}>10</option>
        <option value="20" {{ if eq .Size 20 }}selected{{ end }}>20</option>
        <option value="50" {{ if eq .Size 50 }}selected{{ end }}>50</option>
        <option value="100" {{ if eq .Size 100 }}selected{{ end }}>100</option>
      </select>

      {{ else }}

      <input type="hidden" name="pageSize" value="{{ .Size }}">

      {{end}}

      {{ end }}

    </div>
  </div>
  <table class="w-full mt-4 text-sm">
    <thead class="border-b border-gray-700">
      <tr>
        <th class="text-left py-2">Num. Pago</th>
        <th class="text-left py-2">Num. Factura</th>
        <th class="text-left py-2">Cliente</th>
        <th class="text-left py-2">Fecha</th>
        <th class="text-right py-2">Cantidad</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-700">
      {{ range .Payments }}
      <tr class="hover:bg-gray-700 transition-colors">
        <td class="py-2">{{ .ID }}</td>
        <td class="py-2">{{ .InvoiceID }}</td>
        <td class="py-2">{{ .ClientName }}</td>
        <td>
          <span class="bg-gray-700 px-3 py-1 rounded-full text-xs">{{ .Date }}</span>
        </td>
        <td class="text-right">{{ .Amount }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
