{{ define "sidebar" }}
<aside class="w-64 bg-black p-6 flex flex-col justify-between">

    <nav class="flex flex-col h-full justify-between p-4">
      <!-- Top section (main buttons) -->
      <div class="space-y-4">
        <img src="/static/logo_dark.webp" alt="Logo" class="w-48 mb-4">
        <button
          class="w-48 flex items-center space-x-2 text-sm bg-gray-100 p-2 rounded-lg hover:bg-gray-600 transition-colors">
          <i class="fas fa-plus text-black"></i>
          <span class="text-black">Añadir Pago</span>
        </button>
        <button
          class="w-48 flex items-center space-x-2 text-sm bg-gray-100 p-2 rounded-lg hover:bg-gray-600 transition-colors">
          <i class="fas fa-plus text-black"></i><span class="text-black">Añadir Factura</span>
        </button>
        <button
          class="w-48 flex items-center space-x-2 text-sm bg-gray-100 p-2 rounded-lg hover:bg-gray-600 transition-colors">
          <i class="fas fa-eye text-black"></i><span class="text-black">Ver pagos</span>
        </button>
        <button
          class="w-48 flex items-center space-x-2 text-sm bg-gray-100 p-2 rounded-lg hover:bg-gray-600 transition-colors">
          <i class="fas fa-eye text-black"></i><span class="text-black">Ver facturas</span>
        </button>
      </div>

      <!-- Bottom section (settings button) -->
      <div class="pt-4">
        <button
          class="w-48 flex items-center space-x-2 text-sm bg-gray-100 p-2 rounded-lg hover:bg-gray-600 transition-colors">
          <i class="fas fa-gear text-black"></i>
          <span class="text-black">Ajustes</span>
        </button>
      </div>
    </nav>
  </aside>
{{ end }}
